font{
	color: #FFFFFF;
	font-size: 12px;
}
.topnav ul{ 
	list-style:none; 
	padding:0px; 
	margin:0px;
}
.topnav ul li{ 
	background-color:#5293D5; 
	border:1px solid #18518F; 
	display:block; 
	list-style:none; 
	float:left;
	width:80px; 
	height:20px; 
	text-align:center; 
	line-height:20px;
}
a:hover,a:active{ 
	background-color:#59ACFF; 
	display:block; 
	text-decoration:none;
}
/* ***********顶部 *************/
.top{ 
	list-style:none; 
	padding:0px; 
	margin:0px;
}
.top li{ 
	border:1px solid #18518F; 
	list-style:none; 
	float:left;
	width:80px; 
	height:18px; 
	text-align:center; 
	line-height:18px;
}
.dao_right{ 
	margin-top:46px; 
	overflow:hidden;
}
.dao_right li { 
	border:1px solid #18518F; 
	list-style:none; 
	float:left;
	width:60px; 
	height:20px; 
	text-align:center; 
	line-height:20px;
}
