@charset "UTF-8";
/* 清除默认的内外边距 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,legend,input,textarea,p,th,td{
	margin: 0;padding: 0;
}
/* 重置表格样式 */
table{border-collapse: collapse;border-spacing: 0}
/* 重置默认字体 */
body{
	font: 12px/1.5 "Microsoft YaHei";
	color: #666;
}
h1,h2,h3,h4,h5,h6{
	font-size: 100%;
	font-weight: normal;
}
em,i{font-style: normal;}
strong,b{font-weight: normal;}
a{text-decoration: none;color: inherit;}

/* img */
img{border: 0;vertical-align: middle;}

/* 重置列表元素 */
ol,ul{list-style:none}

/* 重置表单元素 */
input,textarea,select, button{font-family: inherit;font-size: inherit;font-weight: inherit;outline: none;}
input,textarea,select, button{font-size:100%;}

/* 浮动 清除浮动 */
.flchild > *{
	float: left;
}
.frchild > *{
	float: right;
}

.fl{float: left;}
.fr{float: right;}
.clearfix:after{
	content: "";
	display: block;
	clear: both;
}
.clearfix{
	zoom:1;/* 兼容低版本IE */
}
/* 公共样式 */
.w1190{width:1190px;margin:0 auto;}
/* 方便测试 */
.b{border:1px solid red;}

