
body {
	background-color: #FFFFFF;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
td,select  {
	font-size: 12px;
}

.ta_01 {
	padding-top: 4px;
	padding-bottom: 2px;
	padding-right: 2px;
	padding-left: 3px;
	line-height: 135%;
}

.tab {  
	bgColor:#f5fafe;
    border: 1px solid #ccc;  
    border-collapse: collapse;  
 }  
 .tab th, .tab td{  
    border: 1px solid #ccc;  
 } 
 .btn_login {
	BORDER-RIGHT: #62A7D3 1px solid; 
	PADDING-RIGHT: 2px; 
	BORDER-TOP: #62A7D3 1px solid; 
	PADDING-LEFT: 2px; 
	FONT-SIZE: 12px; 
	FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#B6D9E4); 
	BORDER-LEFT: #62A7D3 1px solid; 
	CURSOR: hand; 
	COLOR: black; 
	PADDING-TOP: 2px; 
	BORDER-BOTTOM: #62A7D3 1px solid
}
A:link {
    font-size:12px;
	color: #000000;
    text-decoration:none;
}
A:visited {
    font-size:12px;
	color: #000000;
    text-decoration:none;
}
A:hover {
    font-size:12px;
	color: #0066FF;
	text-decoration:none;
}
A.cl:link {
    font-size:12px;
	color: #000000;
    text-decoration:none;
}
A.cl:visited {
    font-size:12px;
	color: #000000;
    text-decoration:none;
}
A.cl:hover {
    font-size:12px;
	color: #cc0000;
	text-decoration:none;
}
A.cl_01:link {
    font-size:12px;
	color: #000066;
    text-decoration:none;
}
A.cl_01:visited {
    font-size:12px;
	color: #000066;
    text-decoration:none;
}
A.cl_01:hover {
    font-size:12px;
	color: #cc0000;
	text-decoration:none;
}

font{
	font-size: 12px;
}
.td_font{
	font-weight: bold;
	color: #00658F;
	font-size: 12px;
}
