body {
    font-family:verdana,helvetica,arial,sans-serif;
    font-size:12px;
    padding:0px;
    margin:0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    vertical-align: baseline;   
}
h2 {
    font-size:12px;
    font-weight:bold;
    margin:0;
    margin-bottom:15px;
}
.demo-info{
	padding:0 0 12px 0;
}
.demo-tip{
	display:none;
}
.label-top{
    display: block;
    height: 22px;
    line-height: 22px;
    vertical-align: middle;
}
#denglu *{ 
	vertical-align:middle; /* 居中对齐， */ 
}
a{
	width: 80px;
}
td,select,font{
	font-size: 12px;
}